html{
    background-color: rgb(160, 171, 171);
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header{
    border: 5px, solid, rgb(54, 90, 26);
    border-style: none;
    background-color: rgba(161, 183, 168, 0.8);
    padding: 10px;
}

.main{
    background-color: rgba(161, 183, 168, 0.8);
    padding: 10px;
}